[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "persistence"]
	path = persistence
	url = https://github.com/cran/persistence
[submodule "poseticDataAnalysis"]
	path = poseticDataAnalysis
	url = https://github.com/cran/poseticDataAnalysis
